.head{
    
    position: relative;
    margin: 113px 3vw 0 5vw;
    display: grid;
    grid-template-rows: min-content min-content 40vh auto;
    grid-row-gap: 3vh;
}
.head > h1{
    color: rgba(255, 62, 62, 0.89);
    font-weight: 750;
    margin: 0;
    padding: 0;
}
.link > a{
    font-size: x-large;
    height:500px;
    color:rgb(26, 188, 252);

}




@media screen and (min-height: 1100px){
    .head{
        grid-template-rows: min-content min-content 400px auto;
    }
}
@media screen and (max-width: 700px){
.head{
    margin: 0;
    grid-template-rows: min-content min-content 400px auto;
    justify-items: center;
    grid-row-gap: 30px;
}
.link{
        color:rgba(255, 62, 62, 0.89)
    margin: 0 12vw;
}

}