*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20% auto;
    height: 100vh;
    width: 100%;
    position: relative;
}

/* Nav: Start */ 
.nav_expanded{
    position: relative;
    background-color:#FF5F58;
    display: grid;
    grid-template-rows: 19% 10% 10% 10% 10% 19% 19% 3%;
    color: white;
    align-items: center;
    font-weight: 300;
    max-height: 900px;
    z-index: 1;
}
.logo3{
    position: relative;
    width: 35%;
    height: 7vw;
    left: 50%;
    transform: translateX(-50%);
}
.logo2{
    position: relative;
    width: 35%;
    left: 50%;
    transform: translateX(-50%);
}
.mainLogo{
    /* padding-left: 4vw; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
}
.nav_expanded > a{
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 4vw;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform-origin: left;
    text-decoration: none;
    color: white;
    border-top: solid white 1.1px;
}
.save{
    border-bottom: solid white 1.1px;
}
.nav_expanded > a > img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.nav_expanded > a > p{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: calc(4vw + 40px);
    transform: translateY(-50%);
}
.nav_expanded > a:hover{
    background: white;
    color: #FF5F58;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.43);
}
.nav_expanded > p{
    /* padding-left: 3.3vw; */
    text-align: center;
}
.ham{
    display: none;
}



.head1{
    
    position: relative;
    margin: 113px 3vw 0 5vw;

}
.head1 > h1{
    color: rgba(255, 62, 62, 0.89);
    font-weight: 750;
    margin: 0;
    padding: 0;
}
.head{
    
    position: relative;
    margin: 113px 3vw 0 5vw;
}
.head > h1{
    color: rgba(255, 62, 62, 0.89);
    font-weight: 750;
    margin: 0;
    padding: 0;
}
.link > a{
    font-size: x-large;
    height:500px;
    color:rgb(26, 188, 252);
}
.form{
    
    color: rgba(80, 80, 80, 0.89);
    font-size: 1.4em;
}
input[type=text]{
    padding:10px 15px;
    width: 84%;
    height:28px;
    color:rgba(197, 197, 197, 0.89);
    font-size: 0.8em;
    outline-style: none;
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
    border-radius: 9px;
    border-width: 2.5px;
    border-color: rgba(255, 62, 62, 0.89);
}
input[type=button]{
    background-color: rgba(201, 201, 201, 0.89);
    color: black;
    font-weight: 600;
    font-size: medium;
    padding: 16px 16px 16px 16px;
    border-color: rgba(201, 201, 201, 0.89);
    border-style: hidden;
    cursor: pointer;
    border-radius: 5px;
    width:400px;

}
.button1{
    background-color: rgba(228, 228, 228, 0.89);
    color: black;
    font-weight: 600;
    font-size: medium;
    padding: 16px 16px 16px 16px;
    border-color: rgba(201, 201, 201, 0.89);
    border-style: hidden;
    cursor: pointer;
    border-radius: 5px;
    width:260px;
    height:70px;
    margin-right: 74px;
    margin-bottom: 10px;
}
.button2{
    background-color: white;
    color: rgba(255, 62, 62, 0.89);
    font-weight: 600;
    font-size: medium;
    padding: 16px 16px 16px 16px;
    cursor: pointer;
    border-color: rgba(255, 62, 62, 0.89);
    border-radius: 5px;
    width:260px;
    height:70px;
    margin-right: 73px;
    margin-bottom: 10px;
}
.button3{
    background-color: rgba(255, 62, 62, 0.89);
    color: white;
    font-weight: 600;
    font-size: medium;
    padding: 16px 66px 16px 66px;
    border-color: rgba(201, 201, 201, 0.89);
    border-style: hidden;
    cursor: pointer;
    border-radius: 5px;
    width:260px;
    height:70px;
    margin-bottom: 10px;
}
.saveImg1{
    height:2.5vh;
    width:2.5vh;
    opacity: 0.6;
    padding-right:3vw;
}
.f1{
    margin-bottom: 40px;
}

@media screen and (min-height: 1100px){
    .head{
        grid-template-rows: min-content min-content 400px auto;
    }
}
@media screen and (max-width: 700px){
    /* .container{
        grid-template-columns: none;
        grid-template-rows: 55px auto;
        grid-row-gap: 30px;
        transition: all 2s ease-in-out;
    }
    .nav_expanded{
        grid-template-rows: 100%;
        width: 100vw;
        /* padding-left: 3vw; 
    }
    .nav_expanded > div{
        display: none;
        position: relative;
        padding-left: 0;
    }
    .logo2{
        display: none;
    }
    .logo3{
        display: none;
    }
    .nav_expanded > a{
        display: none;
    }
    
    .nav_expanded > div > img{
        left: 3vw;
    }
    .nav_expanded > div > p{
        left: calc(40px + 3vw);
    } 
    .mainLogo{
        position: relative;
        display: block;
        padding-left: 0;
        height: 49px;
        width: 49px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50px;
    }
    
    .ham{
        display: block;
        position: absolute;
        top: 15px;
        left: 10px;
        cursor: pointer;
    } */
    .container{
        grid-template-columns: none;
        grid-template-rows: 55px auto;
        grid-row-gap: 30px;
        transition: width 2s ease-in-out;
    }
    .nav_expanded{
        padding-top: 55px;
        grid-template-rows: 100%;
        width: 100vw;
        /* padding-left: 3vw; */
    }
    .nav_expanded > a{
        display: none;
        position: relative;
        padding-left: 0;
    }
    .logo2{
        position: relative;
        left: 50vw;
        transform: translateX(-50%);
        /* padding-left: 4vw; */
        width: 33vw;
        display: none;
    }
    .logo3{
        /* transform: none; */
        /* padding-left: 4vw; */
        position: relative;
        left: 50vw;
        height: 18%;
        width: 33vw;
        display: none;
    }
    .nav_expanded > p{
        position: relative;
        text-align: center;
        padding-top: 0;
        margin: 0;
        font-size: 1rem;
        display: none;
    }
    .nav_expanded > a > img{
        left: 3vw;
    }
    .nav_expanded > a > p{
        left: calc(40px + 3vw);
    }
.head{
    margin-top: 163px;
    position: absolute;
    /* grid-template-rows: min-content min-content 400px auto;
    justify-items: center;
    grid-row-gap: 30px; */
}
.link{
    margin-left: 7vw;
    
}
.form{
    margin-left: 5%;

}

input[type=button]{
    margin-bottom: 10px;


}
.head1{
    margin: 0;
    padding-top:20px;
}
.mainLogo{
    position: relative;
    display: none;
    padding-left: 0;
    height: 49px;
    width: 49px;
    left: 50vw;
    transform: translateX(-50%);
    border-radius: 50px;
}
.header{
    position: absolute;
    display: block;
    height: 55px;
    background: #FF5F58;
    top: 0; 
    width: 100vw;
    z-index: 100;
}
.mainLogob{
    position: absolute;
    display: block;
    padding-left: 0;
    height: 49px;
    width: 49px;
    left: 50vw;
    transform: translateX(-55%);
    border-radius: 50px;
}
.bam{
    display: block;
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: pointer;
}

}
