.newnav > button{
    /* border-radius:5px; */
    width:205px;
    height:50px;
    color:rgba(255, 62, 62, 0.89);
    border-color: rgba(255, 62, 62, 0.89);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:600;
    background-color: white;
    position:relative;
    transition: ease-in-out 0.2s;
    font-size: large;
    border-top: none;
    border-left: hidden;
    border-right: hidden;
    position: sticky;
    border-bottom:solid 3px rgba(255, 62, 62, 0.89) ;
    

}
.newnav > button:hover{
    background-color: rgba(255, 62, 62, 0.89);
    color: white;
    font-size: 1.5em;
    /* width:210px;
    height:55px; */



}
.showmore > button{
    border-radius:5px;
    width:205px;
    height:50px;
    margin:25px;
    color:rgba(255, 62, 62, 0.89);
    border-color: rgba(255, 62, 62, 0.89);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:600;
    background-color: white;
    position:relative;
    transition: ease-in 0.2s;
    margin-left:285px;
    
}
.showmore > button:hover{
    background-color: rgba(255, 62, 62, 0.89);
    color: white;
    /* width:210px;
    height:55px; */



}

































*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20% auto;
    height: 100vh;
    width: 100%;
    position: sticky;

}

.container1{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20% auto;
    height: 100vh;
    width: 100%;
    position: sticky;
}

/* Nav: Start  */
.nav_expanded{
    position: sticky;
    top: 0;
    height: 100vh;
    background-color:#FF5F58;
    display: grid;
    grid-template-rows: 19% 9% 9% 9% 9% 9% 8% 21%;
    color: white;
    align-items: center;
    font-weight: 300;
    /* height:764px; */
    /* max-height: 900px; */
    z-index: 5;
    
    /*position: relative;*/
    position:sticky;
}
.logo3{
    position: relative;
    left: 50%;
    transform: translateX(-50%) scale(1.9);
    width: 20%;
    max-width: 150px;
}
.mainLogo{
    /* padding-left: 4vw; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    border-radius: 100px;
}
.nav_expanded > a{
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 4vw;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform-origin: left;
    text-decoration: none;
    color: white;
    border-top: solid white 1.1px;
}
.save{
    border-bottom: solid white 1.1px;
}
/* .nav_expanded > .logo3{
    padding-left:65px;
} */

.nav_expanded > a > img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.nav_expanded > a > p{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: calc(4vw + 40px);
    transform: translateY(-50%);
}
.nav_expanded > a:hover{
    background: white;
    color: #FF5F58;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.43);
}
.nav_expanded > p{
    /* padding-left: 3.3vw; */
    text-align: center;
}
.ham{
    display: none;
}



.head1{
    
    position: relative;
    margin: 68px 3vw 0 5vw;

}
.head1 > h1{
    color: rgba(255, 62, 62, 0.89);
    font-weight: 750;
    margin: 0;
    padding: 0;
    
}


.head{
    
    position: relative;
    margin: 113px 3vw 0 5vw;
}

.head > h1{
    color: rgba(255, 62, 62, 0.89);
    font-weight: 750;
    margin: 0;
    padding: 0;
}
.headf{
    
    position: relative;
    margin: 64px 0 0 5vw;
}

.headf > h1{
    color: rgba(255, 62, 62, 0.89);
    font-weight: 750;
    margin: 0;
    padding: 0;
}
.link > a{
    font-size: x-large;
    height:500px;
    color:rgb(26, 188, 252);
    padding-top: 2000px;
    
}
.form{
    
    color: rgba(80, 80, 80, 0.89);
    font-size: 1.2em;
}
input[type=text]{
    padding:10px 15px;
    width: 82.6%;
    height:22px;
    color:rgba(58, 58, 58, 0.89);
    font-size: 0.8em;
    outline-style: none;
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
    border-radius: 9px;
    border-width: 2.5px;
    border-color: rgba(255, 62, 62, 0.89);
}

input[type=text1]{
    padding:10px 15px;
    width: 39.4%;
    height:22px;
    color:rgba(58, 58, 58, 0.89);
    font-size: 0.8em;
    outline-style: none;
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
    border-radius: 9px;
    border-width: 2.5px;
    border-color: rgba(255, 62, 62, 0.89);
}
input[type=text2]{
    padding:10px 15px;
    width: 39.4%;
    height:22px;
    color:rgba(58, 58, 58, 0.89);
    font-size: 0.8em;
    outline-style: none;
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
    border-radius: 9px;
    border-width: 2.5px;
    border-color: rgba(255, 62, 62, 0.89);
}

textarea[type=textarea]{
    padding:10px 15px;
    width: 82.6%;
    height:20vh;
    color:rgba(58, 58, 58, 0.89);
    font-size: 0.8em;
    outline-style: none;
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
    border-radius: 9px;
    border-width: 2.5px;
    border-color: rgba(255, 62, 62, 0.89);}
select{
    padding:10px 15px;
    width: 42.6%;
    height:47px;
    color:rgba(58, 58, 58, 0.89);
    font-size: 0.8em;
    outline-style: none;
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
    border-radius: 9px;
    border-width: 2.5px;
    border-color: rgba(255, 62, 62, 0.89);
}
input[type=button]{
    background-color: rgba(201, 201, 201, 0.89);
    color: black;
    font-weight: 600;
    font-size: medium;
    padding: 16px 16px 16px 16px;
    border-color: rgba(201, 201, 201, 0.89);
    border-style: hidden;
    cursor: pointer;
    border-radius: 5px;
    width:400px;
    


}
.inputGroup {
    background-color: rgba(243, 242, 242, 0.89);
    display:inline-block;
    margin: 10px 0;
    position: relative;
    height: 50px;
    width: 240px;
    padding-top: 20px;
    padding-left: 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 62px;
    margin-bottom: 10px;
    border-color: rgba(255, 62, 62, 0.89);
    outline-style: none;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style:none;
    border-width: 2.5px;
}
.inputGroup:hover{
    background-color: rgba(255, 62, 62, 0.89);
    color:white;

}

label{
    padding-top: 24px;

    padding-bottom: 24px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: 600;
    font-size: large;
    color: rgba(107, 107, 107, 0.89);
    height: 70px;
    width:400px;
    
    margin-left: -50px;

}
label:hover{
    color:white;
}


.button3{
    background-color: rgba(255, 62, 62, 0.89);
    color: white;
    font-weight: 600;
    font-size: medium;
    padding: 16px 66px 16px 66px;
    border-color: rgba(201, 201, 201, 0.89);
    border-style: hidden;
    cursor: pointer;
    border-radius: 5px;
     width:280px;
    height:70px;
    margin-bottom: 10px;
    margin-left:31%;
}
.saveImg1{
    height:2.5vh;
    width:2.5vh;
    opacity: 0.6;
    padding-right:3vw;
}
.saveImg2{
    height:2.5vh;
    width:2.5vh;
    padding-right:15px;
}

.f2{
    display: inline-block;
    
}
.header{
    display: none;
}
.grid-container {
    padding-top: 10px;
    padding-left:50px;
    display: grid;
    grid-template-columns:  auto auto;
    grid-template-rows:  280px 280px;

  }
  .grid-container1 {
    padding-top: 30px;
    grid-gap: 45px;
    display: grid;
    grid-template-columns:  48% auto;
    grid-template-rows:  220px 220px;

  }
   .grid-item {
    
    padding: 10px;
    font-size:20px;
    color:rgb(114, 114, 114);
  }
  .grid-item > img{
    height: 100%;
    width: 90%;
    object-fit: cover;
}
.grid-item > p{
    color:rgba(255, 62, 62, 0.89);
    font-size:25px;
}
.grid-item > h{
    color:rgba(255, 62, 62, 0.89);
    font-size:25px;
    padding:10px;
}
.grid-item > h2{
    color:rgba(70, 70, 70, 0.89);
    font-size:15px;
    padding:10px;
}
.grid-item > a{
    color:rgba(6, 148, 243, 0.89);
    font-size:20px;
    margin-left: 69%;
    
}
.topp1 > p{
    color:rgba(255, 62, 62, 0.89);
    margin-left: -90px;
    padding-top: 40px;
    font-weight:600;
    font-size:32px;
}
.topp > p{
    color:rgba(255, 62, 62, 0.89);
   margin-left:70px ;
    padding-top: 40px;
    font-weight:600;
    font-size:32px;
}
.topp1{
    width:70%;
    margin-left: 12vw;
}
.newn{
    display:inline-block;
}
.sucImg{
    height:24px;
    
    
}
.eveImg{
    height:24px;
    
    
}
.smalldesc {
    
    max-height: 20vh;
    max-width:54vw;
    overflow: hidden;
    transition: all .3s ease;
    margin-top: 25px;
    
  }
  .smalldesc.expand {
    max-height: 40vh;
    
  }
  .smalldesc1 {
    
    max-height: 20vh;
    max-width:54vw;
    overflow: hidden;
    transition: all .3s ease;
    margin-top: 25px;
    
  }
  .smalldesc1.expand {
    max-height: 40vh;
    
  }
  .wrapper4{
    width: 500px;
    height: 500px;
}




@media screen and (min-height: 1100px){
    .head{
        grid-template-rows: min-content min-content 400px auto;
    }
    
}




@media screen and (max-width: 700px){
    
    input[type=text1]{
        width:35.3%;
    }
    input[type=text2]{
        width:37%;
    }
    select{
        width:45.4%
    }
    .topp > p{
        margin-left:15px;
        margin-top: 110px;
    }
    .topp{
        position: absolute;
        width:100%;
        margin-left: 0;
    }
    .topp1 > p{
        margin-left:15px;
    }
    .topp1{
        position: absolute;
        margin-top: 50px;
        width:100%;
        margin-left: 0;
        z-index: 0;
    }
    .container{
        
        grid-template-columns: none;
        grid-template-rows: 55px auto;
        grid-row-gap: 30px;
        transition: width 0.2s ease-in-out;
        
    }
    
    .container1{
        
        grid-template-columns: none;
        grid-template-rows: 55px auto;
        grid-row-gap: 30px;
        transition: width 0.2s ease-in-out;
    }
    .grid-item {
    
        padding: 5px;
        font-size:20px;
        color:rgb(114, 114, 114);
        margin-bottom: 20px;
        margin-top: -7px;
      }
    .nav_expanded{
        padding-top: 55px;
        grid-template-rows: 100%;
        width: 0;
        padding-bottom: 0;
        z-index: 1;
    }
    .nav_expanded > a{
        display: none;
        position: relative;
        padding-left: 0;
    }
    /* .logo2{
        position: relative;
        left: 50vw;
        transform: translateX(-50%);
        /* padding-left: 4vw; 
        width: 33vw;
        display: none;
    } */
    /* .logo3{
        position: relative;
        left: 50vw;
        height: 32%;
        width: 20%;
        display: none;
        
    } */
    .w3-padding {
        padding: 8px!important;
        margin-left: 30px;
        width: 85vw;
    }
    .grid-container {
        padding-top: 35px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:  auto auto;
        padding-left:10px;
        
      }
      .grid-container1 {
        padding-top: 35px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:  220px 220px 220px 220px;
        padding-left:10px;
      }
      
      .grid-item > a{
          margin-bottom: 10px;
      }
    .nav_expanded > p{
        position: relative;
        text-align: center;
        padding-top: 0;
        margin: 0;
        font-size: 1rem;
        display: none;
    }
    .button3{
        width:93%;
        margin-left:0px;
    }
    .nav_expanded > a > img{
        left: 3vw;
    }
    .nav_expanded > a > p{
        left: calc(40px + 3vw);
    }
.headf{
    margin-top: 110px;
    position: absolute;
    /* grid-template-rows: min-content min-content 400px auto;
    justify-items: center;
    grid-row-gap: 30px; */
}
.link{
    margin-left: 7vw;
    
  
    
}
.form{
    margin-left: 5%;

}

input[type=button]{
    margin-bottom: 30px;


}

.head1{
    position: absolute;
    margin: 0;
    padding-top:20px;
}
.mainLogo{
    position: relative;
    display: none;
    padding-left: 0;
    height: 49px;
    width: 49px;
    left: 50vw;
    transform: translateX(-50%);
    border-radius: 50px;
}
.header{
    position: absolute;
    display: block;
    height: 55px;
    background: #FF5F58;
    top: 0; 
    width: 100vw;
    z-index: 100;
}
.mainLogob{
    position: absolute;
    display: block;
    padding-left: 0;
    height: 49px;
    width: 49px;
    left: 50vw;
    transform: translateX(-55%);
    border-radius: 50px;
}
.bam{
    display: block;
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: pointer;
}

}
