* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #FF5F58;
}

form {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: white;
}

h1 {
    position: absolute;
    top: 2vh;
    left: 50vw;
    width: fit-content;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
}
select{
    appearance: none;
    display: block;
    outline-color: none;
    padding: 10px 0px;
    border: 1px black solid;
    border-radius: 7px;
    padding-right: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    background-color: white;
    color: #AAAAAA;
    font-weight: 200;

}
.ver{
    border: 1px black solid;
    border-radius: 7px;
    background-color: white;
    color: #AAAAAA;
    font-size: 1rem;
    margin-bottom: 11px;
    padding: 10px 0;
    padding-left: 10px;
}
.ver::placeholder{
    color: #AAAAAA;
}
.btnWrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 3px;
}
.btn {
    border: 1px black solid;
    border-radius: 7px;
    color: #FF5F58;
    background-color: white;
    padding: 8px 20px;
}
.btnWrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
.submit{
    margin-left: 5px;
    padding: 8px 20px;
    border: 1px black solid;
    border-radius: 7px;
    outline: none;
    box-shadow: none;
    background: white;
    color: #AAAAAA;
}
.submit:hover{
    transform: scale(1.07);
    transform-origin: left;
}

