* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #FF5F58;
}

form {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: white;
}

h1 {
    position: absolute;
    top: 2vh;
    left: 50vw;
    width: fit-content;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
}
select{
    display: block;
    outline-color: none;
    padding: 5px 0px;
    padding-right: 20px;
    margin-bottom: 10px;
    font-size: 1rem;
    border: none;
    background-color: #F7F7F7;
    color: #AAAAAA;
    font-weight: 200;
}
.ver{
    
    border: none;
    background-color: #F7F7F7;
    color: #AAAAAA;
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 5px 0;
    padding-left: 2px;
}
.ver::placeholder{
    color: #AAAAAA;
}

.submit{
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    outline: none;
    box-shadow: none;
    background: white;
    color: #FF5F58;
}
.submit:hover{
    transform: scale(1.07);
    transform-origin: left;
}

