*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20% auto;
    height: 100%;
    width: 100%;
    position: relative;
}

/* Nav: Start */ 
.nav_expanded{
    position: relative;
    background-color:rgba(255, 62, 62, 0.89);
    display: grid;
    grid-template-rows: 20vh 10vh 10vh 10vh 10vh 20vh 20vh;
    color: white;
    align-items: center;
    font-weight: 300;
}
.logo3{
    padding-left: 4vw;
    height: 90%;
}
.logo2{
    padding-left: 4vw;
    height: 90%;
}
.mainLogo{
    padding-left: 4vw;
    height: 90%;
}
.logo3{
    width: 136px;
}
.nav_expanded > div{
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 4vw;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform-origin: left;
}
.nav_expanded > div > img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.nav_expanded > div > p{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: calc(4vw + 40px);
    transform: translateY(-50%);
}
.nav_expanded > div:hover{
    background: white;
    color: rgba(255, 62, 62, 0.89);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.43);
}
.ham{
    display: none;
}
/* Nav: End */

/* About: Start */

.aboutMain{
    position: relative;
    margin: 15vh 3vw 0 5vw;
    display: grid;
    grid-template-rows: min-content min-content 40vh auto;
    grid-row-gap: 3vh;
}
.aboutMain > h1{
    color: rgba(255, 62, 62, 0.89);
    font-weight: 750;
    margin: 0;
    padding: 0;
}
.aboutMain > div{
    font-size: 1.3rem;
    color: rgb(83, 95, 107);
}
.images{
    display: grid;
    grid-template-columns: 50% 50%;
}
.images > img{
    height: 100%;
    width: 90%;
}

/* About: End */
@media screen and (max-width: 1064px){
    .mainLogo{
        position: relative;
        display: block;
        padding-left: 0;
        height: 49px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50px;
    }
    .container{
        grid-template-columns: none;
        grid-template-rows: 55px auto;
        grid-row-gap: 30px;
        transition: all 2s ease-in-out;
    }
    .nav_expanded{
        grid-template-rows: 100%;
        width: 100vw;
    }
    .nav_expanded > div{
        display: none;
        position: relative;
        padding-left: 0;
        margin-left: 2vw;
        left: 0;
    }
    .logo2{
        display: none;
    }
    .logo3{
        display: none;
    }
    
    .nav_expanded > div > img{
        left: 0;
    }
    .nav_expanded > div > p{
        left: 40px;
    }
    .aboutMain{
        margin: 0;
        grid-template-rows: min-content min-content 400px auto;
        justify-items: center;
        grid-row-gap: 30px;
    }
    /* .aboutMain > h1{
        justify-self: left;
    } */
    .images{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
        height: 100%;
        justify-items: center;
        padding-left: 0;
    }
    .images > img{
        height: 100%;
    }
    .para1{
        
        margin: 0 6vw;
    }
    .para2{
        /* text-align: center; */
        margin: 0 6vw;
        margin-bottom: 5vh;
    }
    .ham{
        display: block;
        position: absolute;
        top: 15px;
        left: 10px;
        cursor: pointer;
    }
}