
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
.container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20% auto;
    height: 100vh;
    width: 100%;
    position: relative;
}
.container1{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20% auto;
    height: 100vh;
    width: 100%;
    position: relative;
}

/* Nav: Start */ 
.nav_expanded{
    position: relative;
    background-color:#FF5F58;
    display: grid;
    grid-template-rows: 19.5% 9% 9% 9% 9% 9% 9% 21%;
    color: white;
    align-items: center;
    font-weight: 300;
    z-index: 1;
    padding-bottom: 20px;
}
.logo3{
    position: relative;
    /* width: 38%;
    height: 65%; */
    left: 28%;
    /* transform: translateX(-50%); */
}
.logo2{
    position: relative;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.mainLogo{
    /* padding-left: 4vw; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    border-radius: 100px;
}
.nav_expanded > a{
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 4vw;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform-origin: left;
    text-decoration: none;
    color: white;
    border-top: solid white 1.1px;
}
.save{
    border-bottom: solid white 1.1px;
}
.nav_expanded > a > img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
}
.nav_expanded > a > p{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: calc(4vw + 40px);
    transform: translateY(-50%);
}
.nav_expanded > a:hover{
    background: white;
    color: #FF5F58;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.43);
}
.nav_expanded > p{
    /* padding-left: 3.3vw; */
    text-align: center;
}
.ham{
    display: none;
}
/* Nav: End */

/* About: Start */

.aboutMain{
    position: relative;
    margin: 68px 3vw 0 5vw;
    display: grid;
    grid-template-rows: min-content min-content 40vh auto;
    grid-row-gap: 3vh;
}
.aboutMain > h1{
    color: #FF5F58;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.aboutMain > div{
    font-size: 1.3rem;
    color: rgb(83, 95, 107);
    margin-top: 32px;
}
.images{
    display: grid;
    grid-template-columns: 50% 50%;
}
.images > img{
    height: 100%;
    width: 90%;
    object-fit: cover;
}

.sucImg{
    height:24px;
    
    
}
.eveImg{
    height:24px;
    
    
}

/* About: End */
.header{
    display: none;
}
@media screen and (min-height: 1100px){
    .aboutMain{
        grid-template-rows: min-content min-content 400px auto;
    }
}
@media screen and (max-width: 700px){ 
    .container{
        grid-template-columns: none;
        grid-template-rows: 55px auto;
        grid-row-gap: 30px;
        transition: width 2s ease-in-out;
    }
    .container1{
        grid-template-columns: none;
        grid-template-rows: 55px auto;
        grid-row-gap: 30px;
        transition: width 2s ease-in-out;
    }
    .nav_expanded{
        padding-top: 55px;
        grid-template-rows: 100%;
        width: 0;
        padding-bottom: 0;
    }
    .nav_expanded > a{
        display: none;
        position: relative;
        padding-left: 0;
    }
    .logo2{
        position: relative;
        left: 50vw;
        transform: translateX(-50%);
        /* padding-left: 4vw; */
        width: 33vw;
        display: none;
    }
    .logo3{
        /* transform: none; */
        /* padding-left: 4vw; */
        position: relative;
        left: 50vw;
        max-width: 100%;
        height: 18%;
        width: auto;
        display: none;

    }
    .nav_expanded > p{
        position: relative;
        text-align: center;
        padding-top: 0;
        margin: 0;
        font-size: 1rem;
        display: none;
    }
    .nav_expanded > a > img{
        left: 3vw;
    }
    .nav_expanded > a > p{
        left: calc(40px + 3vw);
    }
    .aboutMain{
        margin: 0;
        grid-template-rows: min-content min-content 450px auto;
        justify-items: center;
        grid-row-gap: 30px;
    }
    .aboutMain{
        position: absolute;
        margin-top: 168px;
    }
    .aboutMain > h1{
        margin-top: -50px;
    }
    .images{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
        height: 100%;
        justify-items: center;
        padding-left: 0;
        
    }
    .images > img{
        height: 100%;
    }
    .para1{
        
        margin: -6vw 6vw;
    }
    .mainLogo{
        position: relative;
        display: none;
        padding-left: 0;
        height: 49px;
        width: 49px;
        left: 50vw;
        transform: translateX(-50%);
        border-radius: 50px;
    }
    .para2{
        /* text-align: center; */
        margin: 0 6vw;
        margin-bottom: 5vh;
    }
    /* .ham{
        display: block;
        position: absolute;
        top: 15px;
        left: 10px;
        cursor: pointer;
    } */
    .header{
        position: absolute;
        display: block;
        height: 55px;
        background: #FF5F58;
        top: 0; 
        width: 100vw;
        z-index: 100;
    }
    .mainLogob{
        position: absolute;
        display: block;
        padding-left: 0;
        height: 49px;
        width: 49px;
        left: 50vw;
        transform: translateX(-55%);
        border-radius: 50px;
    }
    .bam{
        display: block;
        position: absolute;
        top: 15px;
        left: 10px;
        cursor: pointer;
    }
}