*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20% auto;
    height: 100%;
    width: 100%;
    position: relative;
}

/* Nav: Start */ 
.nav_expanded{
    position: relative;
    background-color:rgba(255, 62, 62, 0.89);
    display: grid;
    grid-template-rows: 20vh 10vh 10vh 10vh 10vh 20vh 20vh;
    color: white;
    align-items: center;
    font-weight: 300;
}
.logo3{
    padding-left: 4vw;
    height: 90%;
}
.logo2{
    padding-left: 4vw;
    height: 90%;
}
.mainLogo{
    padding-left: 4vw;
    height: 90%;
}
.logo3{
    width: 136px;
}
.nav_expanded > div{
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 4vw;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform-origin: left;
}
.nav_expanded > div > img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
}
.nav_expanded > div > p{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: calc(4vw + 40px);
    transform: translateY(-50%);
}
.nav_expanded > div:hover{
    background: white;
    color: rgba(255, 62, 62, 0.89);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.43);
}
.ham{
    display: none;
}


/* TableMain: Start */

.tableMain{
    position: relative;
    margin: 15vh auto;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-row-gap: 5vh;
}
.selector{
    position: relative;
    width: 100%;
}
.selector > h1{
    color: rgba(255, 62, 62, 0.89);
}
.selector > select{
    
    width: 100%;
    height: 2rem;
    font-size: 1.5rem;
    color: rgb(83, 95, 107);;
    font-weight: 200;
}

/* TableMain: End */