<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/inputfile.css">
    <title>PMJAY | Admin Portal</title>
</head>

<body onresize="positioning()">
    <h1>Admin Portal</h1>
    <form id="formElem">
						<!-- for file, max size = 5MB and only accept CSV -->
        <!-- <input type="text" name="csv_name" value="" class="input" placeholder="csv_name"> -->
        <p class="message">

        </p>
        <select name="csv_name" id="" class="input csv" aria-placeholder="csv_name">
            <option value="">csv_name</option>
            <option value="Claim Status">Claim Status</option>
            <option value="Golden Card Report">Golden Card Report</option>
            <option value="Hospital Empanelment SUmmary Report">Hospital Empanelment SUmmary Report</option>
            <option value="Package List">Package List</option>
            <option value="Empanelled Hospital List">Empanelled Hospital List</option>
            <option value="TPA List">TPA List</option>
        </select>
        <input type="text" name="version" value="" class="input ver" placeholder="version"><br>
        Select a file to upload: <br><br>
        <div class="btnWrapper">
            <button class="btn">Upload a file</button>
            <input type="file" accept=".csv,text/csv" data-max-size="5242880" name="csv" id="file" class="file">
            <input type="submit" class="submit">
        </div>
        
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" sync></script>
    <script>
    
        
            var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
            var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;
            const form = document.querySelector("form");
            const h1 = document.querySelector("h1");
                h1.style.top = height/50 + "px";
                height = (height)/2;
                width = (width)/2;
                
          
            form.style.top = height+"px";
            form.style.left = width + "px";
        
    </script>
    <script>
        const message = document.querySelector(".message");
        let tkn = sessionStorage.getItem("token")
				if (tkn === "" || tkn === null) {
						window.location.replace("/view/admin/login")
				}
        const input = document.getElementById('file');
        const upload = (file) => {
            let formData = new FormData(formElem);

            for (var value of formData.values()) {
                console.log(value);
            }
            // var object = {};
            // formData.forEach(function (value, key) {
            //     console.log(value)
            //     object[key] = value;
            // });
            // console.log(JSON.stringify(object))

            formElem.onsubmit = (e) => {
                console.log('submit')
                e.preventDefault();
                fetch('https://pmjay.herokuapp.com/upload/', {
                    method: 'POST',
                    crossDomain: true,
                    headers: {
                        "Authorization": "Token " + sessionStorage.getItem("token"),
                        // 'Accept': 'application/json',
                        // "Content-Type": "application/json"
                        // 'Access-Control-Allow-Credentials':'true'
                        // "Access-Control-Allow-Origin": 'null'
                    },
                    body: formData
                }).then(
                    response => response.json()
                ).then(
                    success => {
                        console.log(success)
                        message.innerHTML = "Csv File successfully uploaded.";
                    }

                ).catch(
                    error => {
                        console.log(error)
                        message.innerHTML = "Csv File not uploaded.";
                    }
                );
            }
        };


        const onSelectFile = () => upload(input.files[0]);


        input.addEventListener('change', onSelectFile, false);
        // formElem.onsubmit = async (e) => {
        //     console.log('submit')
        //     e.preventDefault();

        //     const fileInput = document.querySelector('#file');
        //     const formData = new FormData();

        //     formData.append('file', fileInput.files[0]);

        //     console.log(formData)
        //     const options = {
        //         method: 'POST',
        //         body: formData
        //     };

        //     fetch('https://pmjay.herokuapp.com/upload/', options)
        // };
    </script>
</body>

</html>
