<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/login.css">
    <title>Admin Login</title>
</head>


<body>
    <h1>Admin Login</h1>
    <form id="formElem">
        <p class="user">Username</p>
        <input type="text" name="Username" value="" class="input username" id="usr" placeholder="Username">
        <p class="pass">Password</p>
        <input type="password" name="Password" value="" class="input password" id="pass" placeholder="Password">
        <input type="submit" class="submit" value="Login">
    </form>
    <script>
        const form = document.querySelector("#formElem");
        var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
        var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;
        height = height/2;
        width = width/2;
        form.style.top = height+"px";
        form.style.left = width + "px";
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" sync></script>
    <script>
        $(document).ready(function () {
            $('.submit').click(function (e) {
                e.preventDefault();
                var username = document.getElementById("usr").value;
                var password = document.getElementById("pass").value;
                console.log(username, password)
                //Register User
                fetch("https://pmjay.herokuapp.com/auth/users/", {
                        method: 'POST',
                        crossDomain: true,
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            username: username,
                            password: password,
                        }),
                    })
                    .then(res => {
                        console.log(res)
                        if (res.status === 200) {
                            console.log('done')
                        } else {
                            console.log('A user with that username already exists.')
                        }
                    })
                    .catch(error => {
                        console.log('Cannot connect to server')
                    })

                    //Login user

                    fetch("https://pmjay.herokuapp.com/auth/token/login/", {
                        method: 'POST',
                        crossDomain: true,
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            username: username,
                            password: password,
                        }),
                    })
                    .then(res => {
                        console.log(res)
                        if (res.status === 200) {
                            console.log('Logged IN')
                        } else {
                            console.log('Not Logged IN')
                        }
                        return res.json()
                    })
                    .then(data => {
                        console.log(data.auth_token);
                        sessionStorage.setItem("token", data.auth_token)
                        window.location.href = 'inputfile.html'
                    })
                
            })
        })
    </script>
    <!-- <div class="main">

    </div> -->
</body>

</html>
