<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/form.css">

  <title>PMJAY | Achievements</title>
  <style>
    @media screen and (max-width: 700px) {
      .nav_expanded {
        z-index: 5;
      }

      .topp1 {
        z-index: 3;
      }
    }
  </style>
</head>


<body>
  <div class="container1">
    <div>
      <div class="nav_expanded">
        <img src="https://0.academia-photos.com/61780733/19658868/19531766/s200_sna.jharkhand.jpg" alt=""
          class="mainLogo">
        <a class="about" href="../index.html">
          <img src="../Assets/img/about.png" alt="" class="aboutImg">
          <p>About</p>
        </a>
        <a class="feedback" href="../view/form.html">
          <img src="../Assets/img/feedback.png" alt="" class="feedbackImg">
          <p>Feedback</p>
        </a>
        <a class="tables" href="../view/table.html">
          <img src="../Assets/img/table.png" alt="" class="tablesImg">
          <p>Tables</p>
        </a>
        <a class="save" href="../view/download.html">
          <img src="../Assets/img/save.png" alt="" class="saveImg">
          <p>Downloads</p>
        </a>
        <a class="Suc" href="../view/Achievements.html">
          <img src="../Assets/img/trophy.png" alt="" class="sucImg">
          <p>Success stories</p>
        </a>
        <a class="eve" href="../view/events.html">
          <img src="../Assets/img/calender.png" alt="" class="eveImg">
          <p>Events and Workshops</p>
        </a>
        <img src="../Assets/img/sub_logo_b.png" alt="" class="logo3">
        <p class="govt">Govt. of Jharkhand</p>
        <img src="../Assets/img/ham.png" alt="" srcset="" class="ham">
      </div>
    </div>
    <div class="topp1" style="margin-bottom: 40px;">
      <p>Events and Workshops</p>

      <div class="newnav" style="margin-left:80px;">
        <button id="all" onfocus="navfocus()">All</button>
        <button id="events">Events</button>
        <button id="workshops">Workshops</button>
      </div>
      <div class="accordion" id="accordionExample" style="padding-top: 40px;">

      </div>
      <div class="showmore">
        <button id="give">Show more</button>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
      
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <!-- <script>
      function navfocus(){
        const ele = document.querySelector("#all")
        ele.style.border-ottom = "none";

      }
      </script> -->




      <script>
        var k = 2;
        var eventflag=0;
        var workshopflag=0;
        var allflag=1;
        var yeet = 0;
        var gslen;
        function gettext(j,o) {
          fetch('http://pmjay.herokuapp.com/all-events-workshops/')
            .then((res) => res.json())
            .then((data) => {
              var elen = data.events.length;
              var wlen = data.workshops.length;
              var slen;
              if(elen<=wlen){
                slen=elen;
              }
              else{
                slen=wlen;
              }
              if(j>slen){
                j=slen;
              }
              gslen=slen;
              
              // console.log(elen,wlen);
              let output = '';
              console.log(data);
  
              function eventshow(){
                eventflag=1;
                workshopflag=0;
                allflag=0;
                // console.log('clicked')
                let output1 = '';
                let i = 0;
                for(i=0;i<j;i++){
                  output1 += `
                      <div class="card">
    <div class="card-header" id="heading${data.events[i].id}">
      <h2 class="mb-0" style="color: rgba(255, 62, 62, 0.89);">
        ${data.events[i].event_name}<h5 style="color:rgba(116, 116, 116, 0.89); font-size: small;">Event</h5>
                    <h3 style="color:rgba(116, 116, 116, 0.89); font-size: medium; padding-top: 10px;">Date:${data.events[i].time_of_event}</h3>
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse${data.events[i].id}" aria-expanded="false" aria-controls="collapse${data.events[i].id}" style="float: right;">
          Details
        </button>
      </h2>
    </div>
    <div id="collapse${data.events[i].id}" class="collapse" aria-labelledby="heading${data.events[i].id}" data-parent="#accordionExample">
      <div class="card-body">
        ${data.events[i].event_description}
      </div>
    </div>
  </div>
                    `;
                } 
                document.getElementById('accordionExample').innerHTML = output1;
              }
              
              function workshopshow(){
                eventflag=0;
                workshopflag=1;
                allflag=0;
                let output2 = '';
                let i = 0;
                for(i=0;i<j;i++){
                  output2 += `
                  <div class="card">
    <div class="card-header" id="heading${data.workshops[i].id}">
      <h2 class="mb-0" style="color: rgba(255, 62, 62, 0.89);">
        ${data.workshops[i].workshop_name}<h5 style="color:rgba(116, 116, 116, 0.89); font-size: small;">Workshop</h5>
                    <h3 style="color:rgba(116, 116, 116, 0.89); font-size: medium; padding-top: 10px;">Date:${data.workshops[i].time_of_workshop}</h3>
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse${data.workshops[i].id}" aria-expanded="false" aria-controls="collapse${data.id}" style="float: right;">
          Details
        </button>
      </h2>
    </div>
    <div id="collapse${data.workshops[i].id}" class="collapse" aria-labelledby="heading${data.workshops[i].id}" data-parent="#accordionExample">
      <div class="card-body">
        ${data.workshops[i].workshop_description}
      </div>
    </div>
  </div>
                    `;
                } 
                document.getElementById('accordionExample').innerHTML = output2;
              }


              function allshow(){
                eventflag=0;
                workshopflag=0;
                allflag=1;
                let output3 = '';
                let i = 0;
                for(i=0;i<j;i++){
                  output3 += `
                      <div class="card">
    <div class="card-header" id="heading${data.events[i].id}">
      <h2 class="mb-0" style="color: rgba(255, 62, 62, 0.89);">
        ${data.events[i].event_name}<h5 style="color:rgba(116, 116, 116, 0.89); font-size: small;">Event</h5>
                    <h3 style="color:rgba(116, 116, 116, 0.89); font-size: medium; padding-top: 10px;">Date:${data.events[i].time_of_event}</h3>
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse${data.events[i].id}" aria-expanded="false" aria-controls="collapse${data.events[i].id}" style="float: right;">
          Details
        </button>
      </h2>
    </div>
    <div id="collapse${data.events[i].id}" class="collapse" aria-labelledby="heading${data.events[i].id}" data-parent="#accordionExample">
      <div class="card-body">
        ${data.events[i].event_description}
      </div>
    </div>
  </div>
               
  <div class="card">
    <div class="card-header" id="heading${data.workshops[i].id}">
      <h2 class="mb-0" style="color: rgba(255, 62, 62, 0.89);">
        ${data.workshops[i].workshop_name}<h5 style="color:rgba(116, 116, 116, 0.89); font-size: small;">Workshop</h5>
                    <h3 style="color:rgba(116, 116, 116, 0.89); font-size: medium; padding-top: 10px;">Date:${data.workshops[i].time_of_workshop}</h3>
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse${data.workshops[i].id}" aria-expanded="false" aria-controls="collapse${data.id}" style="float: right;">
          Details
        </button>
      </h2>
    </div>
    <div id="collapse${data.workshops[i].id}" class="collapse" aria-labelledby="heading${data.workshops[i].id}" data-parent="#accordionExample">
      <div class="card-body">
        ${data.workshop_description}
      </div>
    </div>
  </div>
  
  `;

                  
                }
                document.getElementById('accordionExample').innerHTML = output3;
              }

              if(yeet == 0){
                allshow();
                yeet=1;
              }

              document.getElementById('all').addEventListener('click', function () {
                  allshow();
              });

              document.getElementById('events').addEventListener('click', function () {
                  eventshow();
              });

              document.getElementById('workshops').addEventListener('click', function () {
                  workshopshow();
              });
              if(o==1){
                allshow();
              }else if(o==2){
                eventshow();
              }else if(o==3){
                workshopshow();
              }
            });
        };
        gettext(k);

              
              $("#give").click(function () {
                // if(k+3<=slen){
                k = k + 3;
                // }
                // else{
                //   k=k+slen;
                // }
                if(allflag==1){
                  gettext(k, 1);
                }else if(eventflag == 1){
                  gettext(k, 2);
                }else if(workshopflag == 1){
                  gettext(k, 3);
                }



                if(k>=gslen){
                $("#give").css("display", "none");
              }
              });
      </script>
    </div>







  </div>









  <div class="header">
    <img src="../Assets/img/ham.png" alt="" srcset="" class="bam">
    <img src="https://0.academia-photos.com/61780733/19658868/19531766/s200_sna.jharkhand.jpg" alt="" class="mainLogob">
  </div>

  <script src="../js/events.js"></script>






</body>

</html>