<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/form.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>PMJAY | Achievements</title>
</head>
<title>PMJAY | JSAS</title>
</head>
<d/div>
    <div class="container">
        <div class="nav_expanded">
            <img src="https://0.academia-photos.com/61780733/19658868/19531766/s200_sna.jharkhand.jpg" alt="" class="mainLogo">
            <a class="about" href="../index.html">
                <img src="../Assets/img/about.png" alt="" class="aboutImg">
                <p>About</p>
            </a>
            <a class="feedback" href="../view/form.html">
                <img src="../Assets/img/feedback.png" alt="" class="feedbackImg">
                <p>Feedback</p>
            </a>
            <a class="tables" href="../view/table.html">
                <img src="../Assets/img/table.png" alt="" class="tablesImg">
                <p>Tables</p>
            </a>
            <a class="save" href="../view/download.html">
                <img src="../Assets/img/save.png" alt="" class="saveImg">
                <p>Downloads</p>
            </a>
            <a class="Suc" href="../view/Achievements.html">
                <img src="../Assets/img/trophy.png" alt="" class="sucImg">
                <p>Success stories</p>
            </a>
            <a class="eve" href="../view/events.html">
                <img src="../Assets/img/calender.png" alt="" class="eveImg">
                <p>Events and Workshops</p>
            </a>
            <img src="../Assets/img/sub_logo.png" alt="" class="logo3">
            <p class="govt">Govt. of Jharkhand</p>
            <img src="../Assets/img/ham.png" alt="" srcset="" class="ham">
        </div>
        <div class="topp1">
            <p>Events and Workshops</p>
            <div class="w3-row">
                <a href="javascript:void(0)" onclick="openCity(event, 'London');">
                  <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="color:rgba(255, 62, 62, 0.89);text-align: center;">All</div>
                </a>
                <a href="javascript:void(0)" onclick="openCity(event, 'Paris');" id="defaultOpen">
                  <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="color:rgba(255, 62, 62, 0.89);text-align: center;">Upcoming</div>
                </a>
                <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
                  <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="color:rgba(255, 62, 62, 0.89);text-align: center;">Past</div>
                </a>
              </div>
              <div id="London" class="w3-container city" style="display: none;">
                <div class="grid-container1">
                    <div class="grid-item" style="box-shadow:1px 1px 2px 2px rgb(235, 235, 235);"><h>Event 1</h><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididu ipsum dolor sit amet consectetur adipisicing elit. Consectetur sequi dicectus!</h2><a>See more</a></div>
                    <div class="grid-item" style="box-shadow:1px 1px 2px 2px rgb(235, 235, 235);"><h>Event 2</h><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididu ipsum dolor sit amet consectetur adipisicing elit. Consectetur sequi dicectus!</h2><a>See more</a></div>
                    <div class="grid-item" style="box-shadow:1px 1px 2px 2px rgb(235, 235, 235);"></div>
                    <div class="grid-item" style="box-shadow:1px 1px 2px 2px rgb(235, 235, 235);"></div>
                  </div>
              </div>
              <div id="Paris" class="w3-container city">
                <div class="grid-container1">
                    <div class="grid-item" style="box-shadow:1px 1px 2px 2px rgb(235, 235, 235);"><h>Event 1</h><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididu ipsum dolor sit amet consectetur adipisicing elit. Consectetur sequi dicectus!</h2><a>See more</a></div>
                    <div class="grid-item" style="box-shadow:1px 1px 2px 2px rgb(235, 235, 235);"><h>Event 2</h><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididu ipsum dolor sit amet consectetur adipisicing elit. Consectetur sequi dicectus!</h2><a>See more</a></div>
                    <div class="grid-item" style="box-shadow:1px 1px 2px 2px rgb(235, 235, 235);"><h>Event 3</h><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididu ipsum dolor sit amet consectetur adipisicing elit. Consectetur sequi dicectus!</h2><a>See more</a></div>
                    <div class="grid-item" style="box-shadow:1px 1px 2px 2px rgb(235, 235, 235);"><h>Event 4</h><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididu ipsum dolor sit amet consectetur adipisicing elit. Consectetur sequi dicectus!</h2><a>See more</a></div>
              </div></div>
              <div id="Tokyo" class="w3-container city" style="display: none;">
                <div class="grid-container1">
                    <div class="grid-item" style="box-shadow:1px 1px 2px 2px rgb(235, 235, 235);"><h>Event 1</h><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididu ipsum dolor sit amet consectetur adipisicing elit. Consectetur sequi dicectus</h2><a>See more</a></div>
                    <div class="grid-item" style="box-shadow:1px 1px 2px 2px rgb(235, 235, 235);"><h>Event 2</h><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididu ipsum dolor sit amet consectetur adipisicing elit. Consectetur sequi dicectus</h2><a>See more</a></div>
                    <div class="grid-item" style="box-shadow:1px 1px 2px 2px rgb(235, 235, 235);"></div>
                    <div class="grid-item" style="box-shadow:1px 1px 2px 2px rgb(235, 235, 235);"></div>
                  </div>
              </div></div>
            <script src="../js/events.js"></script>
            <div class="header">
                <img src="../Assets/img/ham.png" alt="" srcset="" class="bam">
                <img src="https://0.academia-photos.com/61780733/19658868/19531766/s200_sna.jharkhand.jpg" alt="" class="mainLogob">
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
            <script src="../js/download.js"></script>
        </body>
        </html>